* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: rgb(58, 58, 58);
    width: 100%;
}


.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 20px 0px;
}


.logo {
    font-size: 30px;
    color:rgb(243, 172, 79);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

nav a:hover {
    color: rgb(243, 172, 79);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons a {
    background-color: rgb(243, 172, 79);
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 4px;
    text-decoration: none;
}

.produto img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: #e2e2e2 solid 1px;
}

.produto a {
    font-size: 16px;
    font-weight: 400;
    color: #0F1111;
    text-decoration: none;
}

.produto a:hover {
    color: rgb(243, 172, 79);
}

.itens {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    border: #080808;
    justify-content: center;
    text-align: center;
    gap: 80px;
    margin: 20px;
}

.logo p {
    font-size: medium;
    color: #fff;
}