* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgb(58, 58, 58);
    width: 100%;
}


.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 20px 0px;
}


.logo {
    font-size: 30px;
    color:#fff
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

nav a:hover {
    color: rgb(243, 172, 79);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons a {
    background-color: rgb(243, 172, 79);
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 4px;
    text-decoration: none;
}